/*This header is made for*/
.custom_header_1 {
    margin-top: -8px;
    font-family: helvetica;
}

.custom_header_1 h2 {
    font-family: "roboto condensed";
    font-weight: 900;
    border-radius: 3px;
    font-size: 28px;
    padding: 0.3em 0.5em;
    padding-top: 7px;
    background-color: var(--theme-accent-color);
    color: #ffffff;
    border-bottom: 0px solid var(--theme-border-color);
}

.custom_header_1 .page-content h2 {
    border-bottom: 0px solid var(--theme-border-color);
}

/*************************************************************************/

.custom-infobox_1 .pi-image-thumbnail {
    margin-bottom: -15px;
}

.custom-infobox_1 [data-source="image1small"] .pi-image-thumbnail {
    max-width: 150px;
    margin-left: -40px;
}

.custom-infobox_1 [data-source="image2small"] .pi-image-thumbnail {
    max-width: 150px;
    margin-left: -40px;
}

.custom-infobox_1 [data-source="image3small"] .pi-image-thumbnail {
    max-width: 150px;
    margin-left: -40px;
}

.custom-infobox_1 [data-source="Tab1"] {
    margin-top: -50px;
}

.custom-infobox_1 [data-source="Tab2"] {
    margin-top: -50px;
}

.custom-infobox_1 [data-source="Tab3"] {
    margin-top: -50px;
}

.custom-infobox_1 [data-source="Rarity"] .pi-font {
    font-size: 16px;
}

.custom-infobox_1 .pi-data-value.pi-font {
    text-align: center;
}

/*************************************************************************/
/* Custom article and header
/*************************************************************************/

.custom-article_1 {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    text-align: justify;
}

.custom-article_1 .floatnone {
    padding-bottom: 10px;
}

.custom-article_1 .ca_L {
    margin-right: 20px;
    width: auto;
}

.custom-article_1 .ca_R {
    margin-right: 20px;
    width: auto;
}

.custom-article_1 .ca_L-w50 {
    margin-right: 20px;
    width: 50%;
}

.custom-article_1 .ca_R-w30 {
    margin-left: 20px;
    width: 30%;
}

.custom-article_1 .ca_R-w35 {
    margin-left: 20px;
    width: 35%;
}

.custom-article_1 .ca_R-w40 {
    margin-left: 20px;
    width: 40%;
}

.custom-article_1 .ca_R-w45 {
    margin-left: 20px;
    width: 45%;
}

.custom-article_1 .ca_R-w50 {
    margin-left: 20px;
    width: 50%;
}

.custom-article_1 .ca_R-w55 {
    margin-left: 20px;
    width: 55%;
}

.custom-article_1 .ca_R-w60 {
    margin-left: 20px;
    width: 60%;
}

.custom-article_1 .ca_R-w65 {
    margin-left: 20px;
    width: 65%;
}

.custom-article_1 .ca_R-w70 {
    margin-left: 20px;
    width: 70%;
}

.custom_header_article {
    font-family: helvetica;
}

.custom_header_article h2 {
    font-family: "roboto condensed";
    margin-top: -5px;
    font-weight: 900;
    font-size: 24px;
    border-bottom: 0px solid var(--theme-border-color);
}

.custom_header_article .page-content h2 {
    border-bottom: 0px solid var(--theme-border-color);
}