@import "left.css";
@import "detail.css";
@import "secret.css";

infobox_custom-1 {
    font-family: "roboto condensed";

    display: flex;
    width: 100%;
}

infobox_custom-1 right {
    overflow: auto;

    width: 70%;
}

infobox_custom-1 left {
    width: 30%;
}