infobox_custom-1 left {
    width: 30%;
    height: 8fr;
}


infobox_custom-1 left .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1% 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas:
        "full-image"
        "icon"
        "information"
        "speciality"
        "energy";
}

infobox_custom-1 left .info .full-image {
    grid-area: full-image;
}

infobox_custom-1 left .info .icon {
    grid-area: icon;
}

infobox_custom-1 left .info .information {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";
    grid-area: information;
}
infobox_custom-1 left .info .information header {
    grid-area: header;
}
infobox_custom-1 left .info .information content {
    grid-area: content;
}

infobox_custom-1 left .info .speciality {
    grid-area: speciality;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";
}
infobox_custom-1 left .info .speciality header {
    grid-area: header;
}
infobox_custom-1 left .info .speciality content {
    grid-area: content;
}

infobox_custom-1 left .info .energy {
    grid-area: energy;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";
}
infobox_custom-1 left .info .energy header {
    grid-area: header;
}
infobox_custom-1 left .info .energy content {
    grid-area: content;
}




header {
    background-color: #9c144c;
    color: white;

    font-weight: bold;
}