.infobox_custom-1 {
    font-family: "roboto condensed";

    width: 100%;
    overflow: hidden;
}

.infobox_custom-1 .left {
    width: 30%;
}

.infobox_custom-1 .left .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3% 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "image"
        "icon"
        "information_header"
        "information_content"
        "speciality_header"
        "speciality_content"
        "energy_header"
        "energy_content";
}

.infobox_custom-1 .left .info .image {
    grid-area: image;

    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .left .info .icon {
    grid-area: icon;

    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .left .info .information_header {
    grid-area: information_header;

    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;

    background-color: #9c144c;
    color: white;
}

.infobox_custom-1 .left .info .speciality_header {
    grid-area: speciality_header;

    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;

    background-color: #9c144c;
    color: white;
}

.infobox_custom-1 .left .info .energy_header {
    grid-area: energy_header;

    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;

    background-color: #9c144c;
    color: white;
}

.infobox_custom-1 .left .info .information_content {
    grid-area: information_content;

    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .left .info .speciality_content {
    grid-area: speciality_content;

    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .left .info .energy_content {
    grid-area: energy_content;

    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

/*****************************************************/

.infobox_custom-1 .right .detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 2.2fr 0.1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "top             top             top            "
        "middle          middle          middle         "
        "separation_line separation_line separation_line"
        "bottom          bottom          bottom         ";

    padding: 1em;

    width: 70%;
}

/*----------------------------------------------------------------------------*/

.infobox_custom-1 .right .detail .top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: top;
}

/*//////////////////////////////////////*/

.infobox_custom-1 .right .detail .top .horizontal_line {
    align-self: center;
    grid-area: 2 / 1 / 3 / 4;
    height: 1px;
    width: 100%;

    background-color: #babfc0;
}

.infobox_custom-1 .right .detail .top .title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    align-items: end;
    grid-template-areas:
        "name"
        "frame";
    grid-area: 1 / 2 / 3 / 3;
    justify-self: center;

    width: max-content;
    margin-top: 10px;
}

.infobox_custom-1 .right .detail .top .title .name {
    justify-self: center;

    grid-area: name;

    font-weight: bold;
    font-size: large;
}

.infobox_custom-1 .right .detail .top .title .frame {
    justify-self: center;

    align-self: center;
    grid-area: frame;
    height: 70%;

    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
}

/*----------------------------------------------------------------------------*/

.infobox_custom-1 .right .detail .middle {
    grid-area: middle;

    display: grid;
    grid-template-columns: 1.5fr 0.1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: ".detail vertical-line stats";
    justify-items: stretch;
    justify-self: stretch;
    align-self: stretch;

    padding-bottom: 1em;
}

.infobox_custom-1 .right .detail .middle .vertical-line {
    grid-area: vertical-line;

    justify-self: center;

    width: 1px;
    height: 100%;

    background-color: #babfc0;
}

/*//////////////////////////////////////*/

.infobox_custom-1 .right .detail .middle .detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 4% 0%;
    grid-auto-flow: row;
    grid-template-areas:
        "service"
        "psychological"
        "activation"
        "height"
        "weight"
        "vital-fluid";
    grid-area: detail;
    height: 300px;
}

.infobox_custom-1 .right .detail .middle .detail .service {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";
    grid-area: service;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .service .header {
    justify-self: start;
    align-self: center;
    grid-area: header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .middle .detail .service .content {
    justify-self: start;
    align-self: center;
    grid-area: content;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .psychological {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";
    grid-area: psychological;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .psychological .header {
    justify-self: start;
    align-self: center;
    grid-area: header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .middle .detail .psychological .content {
    justify-self: start;
    align-self: center;
    grid-area: content;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .activation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";
    grid-area: activation;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .activation .header {
    justify-self: start;
    align-self: center;
    grid-area: header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .middle .detail .activation .content {
    justify-self: start;
    align-self: center;
    grid-area: content;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .height {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header "
        "content";
    grid-area: height;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .height .header {
    justify-self: start;
    align-self: center;
    grid-area: header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .middle .detail .height .content {
    justify-self: start;
    align-self: center;
    grid-area: content;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .weight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header "
        "content";
    grid-area: weight;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .weight .header {
    justify-self: start;
    align-self: center;
    grid-area: header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .middle .detail .weight .content {
    justify-self: start;
    align-self: center;
    grid-area: content;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .vital-fluid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header "
        "content";
    grid-area: vital-fluid;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .middle .detail .vital-fluid .header {
    justify-self: start;
    align-self: center;
    grid-area: header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .middle .detail .vital-fluid .content {
    justify-self: start;
    align-self: center;
    grid-area: content;
    height: 100%;
}

/*########################################################*/
.infobox_custom-1 .right .detail .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    gap: 3% 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "stat_review  .            .           "
        "graph  graph  graph "
        "number number number";
    grid-area: stats;
}

/*//////////////////////////////////////*/

.infobox_custom-1 .right .detail .stats .stat_review {
    grid-area: stat_review;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "underline";
    width: max-content;
    height: fit-content;
}

.infobox_custom-1 .right .detail .stats .stat_review .header {
    grid-area: rheader;
    font-weight: bold;
}

.infobox_custom-1 .right .detail .stats .stat_review .underline {
    grid-area: underline;
    font-weight: 100;
    color: rgb(59, 59, 59);
}



.infobox_custom-1 .right .detail .stats .number {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1% 2%;
    grid-template-areas: "hp atk def crit";
    grid-area: number;
}


.infobox_custom-1 .right .detail .stats .number .hp {
    grid-area: hp;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "number";
}

.infobox_custom-1 .right .detail .stats .number .hp .header {
    grid-area: header;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .stats .number .hp .number {
    grid-area: number;
    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .right .detail .stats .number .atk {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "number";
    grid-area: atk;
}

.infobox_custom-1 .right .detail .stats .number .atk .header {
    grid-area: header;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .stats .number .atk .number {
    grid-area: number;
    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .right .detail .stats .number .def {
    grid-area: def;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "number";
}

.infobox_custom-1 .right .detail .stats .number .def .header {
    grid-area: header;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .stats .number .def .number {
    grid-area: number;
    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .right .detail .stats .number .crit {
    grid-area: crit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "number";
}

.infobox_custom-1 .right .detail .stats .number .crit .header {
    grid-area: header;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .stats .number .crit .number {
    grid-area: number;
    justify-self: center;
    align-self: center;
}


.infobox_custom-1 .right .detail .stats .graph {
    justify-self: center;
    align-self: center;
    grid-area: graph;
    height: 200px;
    width: 216px;
}

/*----------------------------------------------------------------------------*/

.infobox_custom-1 .right .detail .separation_line {
    grid-area: separation_line;
    width: 100%;
    height: 1px;

    background-color: #babfc0;
}

/*----------------------------------------------------------------------------*/

.infobox_custom-1 .right .detail .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-auto-columns: 1fr;
    gap: 0% 5%;
    grid-auto-flow: row;
    justify-content: space-evenly;
    align-content: stretch;
    /*  align-items: center; */
    grid-template-areas: "rank class weapon exclusive-weapon faction gift";
    grid-area: bottom;

    width: auto;
    height: 100%;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    padding-top: 1em;
}

/*//////////////////////////////////////*/


.infobox_custom-1 .right .detail .bottom .rank {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "header"
        "content";
    justify-self: stretch;
    align-self: center;
    grid-area: rank;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .bottom .rank .header {
    justify-self: center;
    align-self: end;
    grid-area: header;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .bottom .rank .content {
    justify-self: center;
    align-self: start;
    grid-area: content;
}

.infobox_custom-1 .right .detail .bottom .class {
    grid-area: class;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "header"
        "content";
    justify-self: stretch;
    align-self: center;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .bottom .class .header {
    justify-self: center;
    align-self: end;
    grid-area: header;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .bottom .class .content {
    justify-self: center;
    align-self: start;
    grid-area: content;
}

.infobox_custom-1 .right .detail .bottom .weapon {
    grid-area: weapon;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "header"
        "content";
    justify-self: stretch;
    align-self: center;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .bottom .weapon .header {
    justify-self: center;
    align-self: end;
    grid-area: header;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .bottom .weapon .content {
    justify-self: center;
    align-self: start;
    grid-area: content;
}

.infobox_custom-1 .right .detail .bottom .exclusive-weapon {
    grid-area: exclusive-weapon;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "header"
        "content";
    justify-self: stretch;
    align-self: center;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .bottom .exclusive-weapon .header {
    justify-self: center;
    align-self: end;
    grid-area: header;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .bottom .exclusive-weapon .content {
    justify-self: center;
    align-self: start;
    grid-area: content;
}

.infobox_custom-1 .right .detail .bottom .faction {
    grid-area: faction;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "header"
        "content";
    justify-self: stretch;
    align-self: center;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .bottom .faction .header {
    justify-self: center;
    align-self: end;
    grid-area: header;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .bottom .faction .content {
    justify-self: center;
    align-self: start;
    grid-area: content;
}

.infobox_custom-1 .right .detail .bottom .gift {
    grid-area: gift;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "header"
        "content";
    justify-self: stretch;
    align-self: center;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .right .detail .bottom .gift .header {
    justify-self: center;
    align-self: end;
    grid-area: header;

    font-weight: bold;
}

.infobox_custom-1 .right .detail .bottom .gift .content {
    justify-self: center;
    align-self: start;
    grid-area: content;
}

infobox_custom-1 .right .secret {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "secret-1"
        "secret-2"
        "secret-3"
        "secret-4"
        "secret-5"
        "secret-6"
        "secret-7";

    align-content: center;
}

infobox_custom-1 .right .secret .secret-1 {
    grid-area: secret-1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}

infobox_custom-1 .right .secret .secret-1 .header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}

infobox_custom-1 .right .secret .secret-1 .content {
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first"
        "horizontal"
        "second";

    justify-content: end;
}

infobox_custom-1 .right .secret .secret-1 .content .first {
    grid-area: first;

    align-self: end;
}

infobox_custom-1 .right .secret .secret-1 .content .second {
    grid-area: second;

    align-self: start;
}

infobox_custom-1 .right .secret .secret-2 {
    grid-area: secret-2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}

infobox_custom-1 .right .secret .secret-2 .header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}

infobox_custom-1 .right .secret .secret-2 .content {
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first"
        "horizontal"
        "second";

    justify-content: end;
}

infobox_custom-1 .right .secret .secret-2 .content .first {
    grid-area: first;

    align-self: end;
}

infobox_custom-1 .right .secret .secret-2 .content .second {
    grid-area: second;

    align-self: start;
}

infobox_custom-1 .right .secret .secret-3 {
    grid-area: secret-3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}

infobox_custom-1 .right .secret .secret-3 .header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}

infobox_custom-1 .right .secret .secret-3 .content {
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first"
        "horizontal"
        "second";

    justify-content: end;
}

infobox_custom-1 .right .secret .secret-3 .content .first {
    grid-area: first;

    align-self: end;
}

infobox_custom-1 .right .secret .secret-3 .content .second {
    grid-area: second;

    align-self: start;
}

infobox_custom-1 .right .secret .secret-4 {
    grid-area: secret-4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}

infobox_custom-1 .right .secret .secret-4 .header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}

infobox_custom-1 .right .secret .secret-4 .content {
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first"
        "horizontal"
        "second";

    justify-content: end;
}

infobox_custom-1 .right .secret .secret-4 .content .first {
    grid-area: first;

    align-self: end;
}

infobox_custom-1 .right .secret .secret-4 .content .second {
    grid-area: second;

    align-self: start;
}

infobox_custom-1 .right .secret .secret-5 {
    grid-area: secret-5;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}

infobox_custom-1 .right .secret .secret-5 .header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}

infobox_custom-1 .right .secret .secret-5 .content {
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first"
        "horizontal"
        "second";

    justify-content: end;
}

infobox_custom-1 .right .secret .secret-5 .content .first {
    grid-area: first;

    align-self: end;
}

infobox_custom-1 .right .secret .secret-5 .content .second {
    grid-area: second;

    align-self: start;
}

infobox_custom-1 .right .secret .secret-6 {
    grid-area: secret-6;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}

infobox_custom-1 .right .secret .secret-6 .header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}

infobox_custom-1 .right .secret .secret-6 .content {
    grid-area: content;

    justify-content: end;
}

infobox_custom-1 .right .secret .secret-7 {
    grid-area: secret-7;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}

infobox_custom-1 .right .secret .secret-7 .header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}

infobox_custom-1 .right .secret .secret-7 .content {
    grid-area: content;

    justify-content: end;
}

.horizontal {
    height: 1px;
    width: 100%;

    background-color: #babfc0;
}