.left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;

    grid-template-areas:
        "profile"
        "icon"
        "information"
        "speciality"
        "element";

    border: 1px solid #616161;
    border-radius: 5px 0px 0px 5px;

    width: 400px;
    float: left;
}

/*--------------------------------------------*/
.left #header {
    grid-area: header;

    color: white;
    background-color: #9c144c;

    text-align: center;

    font-weight: bold;
}

.left #content {
    grid-area: content;

    text-align: start;
}
/*--------------------------------------------*/

.left .profile {
    grid-area: profile;

    object-position: 50% 50%;

    border-bottom: 1px solid #4d4d4dbd;
}

.left .icon {
    grid-area: icon;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

<<<<<<< Updated upstream
    grid-template-areas: "a" "b" "c";
=======
<<<<<<< Updated upstream
	grid-template-areas: "a" "b" "c";
=======
    grid-template-areas: "a b c";
>>>>>>> Stashed changes
>>>>>>> Stashed changes

    border-top: 1px solid #4d4d4dbd;
}
.left .icon .a {
    grid-area: a;

    object-position: 50% 50%;
}
.left .icon .b {
    grid-area: b;

    border-left: 1px solid black;
    border-right: 1px solid black;

    object-position: 50% 50%;
}
.left .icon .c {
    grid-area: c;

    object-position: 50% 50%;
}

.left .information {
    grid-area: information;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;

    grid-template-areas:
        "header"
        "content";
}

.left .speciality {
    grid-area: speciality;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;

    grid-template-areas:
        "header"
        "content";
}

.left .element {
    grid-area: element;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;

    grid-template-areas:
        "header"
        "content";
}
