/* load.php | https://pgr.miraheze.org/w/load.php?lang=fr&modules=site.styles&only=styles&skin=timeless */

.left {
    /* grid-template-columns: 1fr; */
    grid-template-columns: auto;
}

.data #v_line {
    /* background-color: #babfc0; */
    background-color: #babfc0 !important;
}

.data #h_line {
    /* background-color: #babfc0; */
    background-color: #babfc0 !important;
}

/* .data .frame { */
.data .top .frame {
    /* background-color: white; */
    /* z-index: 1; */
    background-color: #141416 !important;
}

.left .icon .b {
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
}

/* Élément | https://pgr.miraheze.org/wiki/Lucia:_Lotus */

.name {
    font-weight: bolder;
}

/* Élément | https://pgr.miraheze.org/wiki/Lucia:_Lotus */

div.information:nth-child(3) > div:nth-child(2) {
    /* color: #babfc0; */
    text-align: center;
    font-size: small;
}
