@import "data.css"; /*First table, for the Data tab*/
@import "secret.css"; /*Second table, for the Secret tab*/
@import "quote.css"; /*Third table, for the Quote tab*/

/*--------------------------------------------*/
#infobox-character .right {
	float: right;
	flex-wrap: wrap;

	border: 1px solid #616161;
	border-left: none;
	border-radius: 0px 5px 5px 0px;

	height: 500px;
	width: 80%;
}

/*--------------------------------------------*/
.right #header {
	/*Style for all the header on the right side*/
	grid-area: header;

	text-align: start;
	font-weight: bold;
}

.right #content {
	/*Style for all the content on the right side*/
	grid-area: content;

	text-align: start;
}
