.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "top"
        "graph"
        "table";
}

/*--------------------------------------------*/
.top {
    grid-area: top;
}

.graph {
    grid-area: graph;
}

.table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas: "HP DEF ATK CRIT";
    grid-area: table;
}

.HP {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";
    grid-area: HP;
}

.DEF {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";

    grid-area: DEF;
}

.ATK {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";

    grid-area: ATK;
}

.CRIT {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";

    grid-area: CRIT;
}
