.right .stat {
    grid-area: stat;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "top"
        "graph"
        "table";

    width: 300px;

    padding-left: 1em;
}

/*--------------------------------------------*/
.right .table #content,
.right .table #header {
    text-align: center;
}

/*--------------------------------------------*/

.right .table #content, .right .table #header {
    text-align: center;
}

/*--------------------------------------------*/

.stat .top {
    grid-area: top;
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";
}

.stat .graph {
    grid-area: graph;

    grid-area: top;
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "content";

    object-position: 50% 50%;
}

.stat .table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas: "HP DEF ATK CRIT";
    grid-area: table;
}

.stat .HP {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";
    grid-area: HP;
}

.stat .DEF {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";

    grid-area: DEF;
}

.stat .ATK {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";

    grid-area: ATK;
}

.stat .CRIT {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content";

    grid-area: CRIT;
}

.stat .DEF {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "content";
    grid-area: DEF;
}

.stat .ATK {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "content";
    grid-area: ATK;
}

.stat .CRIT {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "content";
    grid-area: CRIT;
}