.right .secret {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "secret-1"
        "secret-2"
        "secret-3"
        "secret-4"
        "secret-5"
        "secret-6";
    
    overflow: scroll;
    padding: 1em;
}

.secret #header {
    text-align: start;
    vertical-align: middle;
}
.secret #content {
    text-align: end;
    vertical-align: middle;
}

.secret .secret-1 {
    grid-area: secret-1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 0px;
    grid-template-areas: "header" "content";
}
.secret .secret-2 {
    grid-area: secret-2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "header" "content";
}
.secret .secret-3 {
    grid-area: secret-3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 0px;
    grid-template-areas: "header" "content";
}
.secret .secret-4 {
    grid-area: secret-4;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 0px;
    grid-template-areas: "header" "content";
}
.secret .secret-5 {
    grid-area: secret-5;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 0px;
    grid-template-areas: "header" "content";
}
.secret .secret-6 {
    grid-area: secret-6;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 0px;
    grid-template-areas: "header" "content";
}