infobox_custom-1 right secret {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "secret-1"
        "secret-2"
        "secret-3"
        "secret-4"
        "secret-5"
        "secret-6"
        "secret-7";

    align-content: center;
}

infobox_custom-1 right secret .secret-1 {
    grid-area: secret-1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}
infobox_custom-1 right secret .secret-1 header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}
infobox_custom-1 right secret .secret-1 content {
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first"
        "horizontal"
        "second";

    justify-content: end;
}
infobox_custom-1 right secret .secret-1 content .first {
    grid-area: first;

    align-self: end;
}
infobox_custom-1 right secret .secret-1 content .second {
    grid-area: second;

    align-self: start;
}

infobox_custom-1 right secret .secret-2 {
    grid-area: secret-2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}
infobox_custom-1 right secret .secret-2 header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}
infobox_custom-1 right secret .secret-2 content {
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first"
        "horizontal"
        "second";

    justify-content: end;
}
infobox_custom-1 right secret .secret-2 content .first {
    grid-area: first;

    align-self: end;
}
infobox_custom-1 right secret .secret-2 content .second {
    grid-area: second;

    align-self: start;
}

infobox_custom-1 right secret .secret-3 {
    grid-area: secret-3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}
infobox_custom-1 right secret .secret-3 header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}
infobox_custom-1 right secret .secret-3 content {
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first"
        "horizontal"
        "second";

    justify-content: end;
}
infobox_custom-1 right secret .secret-3 content .first {
    grid-area: first;

    align-self: end;
}
infobox_custom-1 right secret .secret-3 content .second {
    grid-area: second;

    align-self: start;
}

infobox_custom-1 right secret .secret-4 {
    grid-area: secret-4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}
infobox_custom-1 right secret .secret-4 header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}
infobox_custom-1 right secret .secret-4 content {
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first"
        "horizontal"
        "second";

    justify-content: end;
}
infobox_custom-1 right secret .secret-4 content .first {
    grid-area: first;

    align-self: end;
}
infobox_custom-1 right secret .secret-4 content .second {
    grid-area: second;

    align-self: start;
}

infobox_custom-1 right secret .secret-5 {
    grid-area: secret-5;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}
infobox_custom-1 right secret .secret-5 header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}
infobox_custom-1 right secret .secret-5 content {
    grid-area: content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "first"
        "horizontal"
        "second";

    justify-content: end;
}
infobox_custom-1 right secret .secret-5 content .first {
    grid-area: first;

    align-self: end;
}
infobox_custom-1 right secret .secret-5 content .second {
    grid-area: second;

    align-self: start;
}

infobox_custom-1 right secret .secret-6 {
    grid-area: secret-6;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}
infobox_custom-1 right secret .secret-6 header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}
infobox_custom-1 right secret .secret-6 content {
    grid-area: content;

    justify-content: end;
}

infobox_custom-1 right secret .secret-7 {
    grid-area: secret-7;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas: "header content";
}
infobox_custom-1 right secret .secret-7 header {
    grid-area: header;

    justify-content: start;
    font-weight: bold;
}
infobox_custom-1 right secret .secret-7 content {
    grid-area: content;

    justify-content: end;
}



.horizontal{
    height: 1px;
    width: 100%;

    background-color: #babfc0;
}
