.dialogue {
    display: grid;

    min-height: 60px;
    margin: 7px;
}

.dialogue #narrator {
    display: grid;
    background-color: red;
    color: white;
    align-content: center;
    justify-content: center;
}

.dialogue #character {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "image content";

    background-color: #720101;
    color: white;
}

.dialogue #character .image {
    grid-area: image;

    justify-self: center;
    align-self: center;
    width: min-content;
}

.dialogue #character .content {
    grid-area: content;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "name"
        "text";
}

.dialogue #character .content .name {
    grid-area: name;

    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.dialogue #character .content .text {
    grid-area: text;

    align-self: center;
}
