#dialogue {
}

#dialogue .narrator {
    background-color: var(--background-dialogue-narrator);
}

#dialogue .content {
}

.content .character {
}

#dialogue .content .text {
}

#dialogue {
    background-color: var(--background-dialogue-1);

    --background-dialogue: #0c0c0c;
    --background-dialogue-narrator: #4b0e21;

    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "image content";
}

.image {
    grid-area: image;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "character"
        "text";
    grid-area: content;
}

.character {
    grid-area: name;
}

.text {
    grid-area: text;
}
