<div id="infobox-character">
    <div class="left">
        <div class="Profile">{{Icon|Name={{{Character Artwork|}}}|Unclickable=1}}</div>
        <div class="Icons"></div>
        <div class="Informations">
            <div id="header">Information</div>
            <div id="content">{{{Information|}}}</div>
        </div>
        <div class="Role">
            <div id="header">Role</div>
            <div id="content">{{{Role|}}}</div>
        </div>
        <div class="Element">
            <div id="header">Element</div>
            <div id="content">{{{Element|}}}</div>
        </div>
    </div>
</div>
