<div id="infobox_custom-1">
    <div class="detail">
        <div class="service">
            <div id="header">Service Time</div>
            <div id="content">{{{Service Time|}}}</div>
        </div>
        <div class="psychological">
            <div id="header">Psychological Age</div>
            <div id="content">{{{Psychological Age|}}} Years old</div>
        </div>
        <div class="activation">
            <div id="header">Activation Date</div>
            <div id="content">{{{Activation|}}}</div>
        </div>
        <div class="height">
            <div id="header">Height</div>
            <div id="content">{{{Height|}}}</div>
        </div>
        <div class="weight">
            <div id="header">Weight</div>
            <div id="content">{{{Weight|}}}</div>
        </div>
        <div class="vital-fluid">
            <div id="header">Vital Fluid Type</div>
            <div id="content">{{{Vital Fluid|}}}</div>
        </div>
    </div>
</div>