<div id="infobox_custom-1">
    <div class="secret">
        <div class="rank">
            <div id="header">Rank</div>
            <div id="content">{{#switch:{{{Rank}}} |S= S |A= A |B= B |Error }}</div>
        </div>
        <div class="class">
            <div id="header">Class</div>
            <div id="content">{{#switch: {{{Class}}} |Attacker= Attacker |Tank= Tank |Support= Support |Compositer= Compositer|Error }}</div>
        </div>
        <div class="weapon">
            <div id="header">Weapon</div>
            <div id="content">{{icon|Name={{{Weapon File}}}|Size=60|Link={{{Weapon}}}}}</div>
        </div>
        <div class="exclusive-weapon">
            <div id="header">Exclusive Weapon</div>
            <div id="content">{{icon|Name={{{Exclusive Weapon File}}}|Size=60|Link={{{Exclusive Weapon}}}}}</div>
        </div>
        <div class="faction">
            <div id="header">Faction</div>
            <div id="content">{{icon|Name={{{Faction File}}}|Size=60|Link={{{Faction}}}}}</div>
        </div>
        <div class="gift">
            <div id="header">Gift</div>
            <div id="content">{{icon|Name={{{Favorite Gift File}}}|Size=60|Link={{{Favorite Gift}}}}}</div>
        </div>
    </div>
</div>
