/* Auto assigns an image based on rarity */
.pi-theme-1 .pi-image, .pi-theme-2 .pi-image, .pi-theme-3 .pi-image, .pi-theme-4 .pi-image, .pi-theme-5 .pi-image, .pi-theme-6 .pi-image {
	position:relative;
}
.pi-theme-6 .pi-image:after {
    background-image: url(https://static.wikia.nocookie.net/punishing-gray-raven/images/c/c9/UI-Supply-6Star.png);
 
}
.pi-theme-5 .pi-image:after {
    background-image: url(https://static.wikia.nocookie.net/punishing-gray-raven/images/4/4e/UI-Supply-5Star.png);
}
.pi-theme-4 .pi-image:after {
    background-image: url(https://static.wikia.nocookie.net/punishing-gray-raven/images/1/1a/UI-Supply-4Star.png);
}
.pi-theme-3 .pi-image:after {
    background-image: url(https://static.wikia.nocookie.net/punishing-gray-raven/images/c/cd/UI-Supply-3Star.png);
}
.pi-theme-2 .pi-image:after {
    background-image: url(https://static.wikia.nocookie.net/punishing-gray-raven/images/d/d9/UI-Supply-2Star.png);
}
.pi-theme-1 .pi-image:after {
    background-image: url(https://static.wikia.nocookie.net/punishing-gray-raven/images/8/8b/UI-Supply-1Star.png);
}
	
.pi-theme-1 .pi-image:after, .pi-theme-2 .pi-image:after, .pi-theme-3 .pi-image:after, .pi-theme-4 .pi-image:after, .pi-theme-5 .pi-image:after, .pi-theme-6 .pi-image:after {
	content: "";
    background-size: 70%, auto, contain;
	background-position: bottom 5% left 5%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
