.infobox_custom-1 {
    font-family: "roboto condensed";

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 2.2fr 0.1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "top             top             top            "
        "middle          middle          middle         "
        "separation_line separation_line separation_line"
        "bottom          bottom          bottom         ";

    padding: 1em;
}

/*----------------------------------------------------------------------------*/

.infobox_custom-1 .top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: top;
}

/*//////////////////////////////////////*/

.infobox_custom-1 .horizontal_line {
    align-self: center;
    grid-area: 2 / 1 / 3 / 4;
    height: 1px;
    width: 100%;

    background-color: #babfc0;
}

.infobox_custom-1 .title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    align-items: end;
    grid-template-areas:
        "name"
        "frame";
    grid-area: 1 / 2 / 3 / 3;
    justify-self: center;

    width: max-content;
    margin-top: 10px;
}

.infobox_custom-1 .name {
    justify-self: center;

    grid-area: name;

    font-weight: bold;
    font-size: large;
}

.infobox_custom-1 .frame {
    justify-self: center;

    align-self: center;
    grid-area: frame;
    height: 70%;

    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
}

/*----------------------------------------------------------------------------*/

.infobox_custom-1 .middle {
    grid-area: middle;

    display: grid;
    grid-template-columns: 1.5fr 0.1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "detail vertical-line stats";
    justify-items: stretch;
    justify-self: stretch;
    align-self: stretch;

    padding-bottom: 1em;
}

.infobox_custom-1 .vertical-line {
    grid-area: vertical-line;

    justify-self: center;

    width: 1px;
    height: 100%;

    background-color: #babfc0;
}

/*//////////////////////////////////////*/

.infobox_custom-1 .detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 4% 0%;
    grid-auto-flow: row;
    grid-template-areas:
        "detail_service"
        "detail_psychological"
        "detail_activation"
        "detail_height"
        "detail_weight"
        "detail_vital-fluid";
    grid-area: detail;
    height: 300px;
}

.infobox_custom-1 .detail_service {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "service_header"
        "service_content";
    grid-area: detail_service;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .service_header {
    justify-self: start;
    align-self: center;
    grid-area: service_header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .service_content {
    justify-self: start;
    align-self: center;
    grid-area: service_content;
    height: 100%;
}

.infobox_custom-1 .detail_psychological {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "psychological_header"
        "psychological_content";
    grid-area: detail_psychological;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .psychological_header {
    justify-self: start;
    align-self: center;
    grid-area: psychological_header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .psychological_content {
    justify-self: start;
    align-self: center;
    grid-area: psychological_content;
    height: 100%;
}

.infobox_custom-1 .detail_activation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "activation_header"
        "detail_content";
    grid-area: detail_activation;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .activation_header {
    justify-self: start;
    align-self: center;
    grid-area: activation_header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .detail_content {
    justify-self: start;
    align-self: center;
    grid-area: detail_content;
    height: 100%;
}

.infobox_custom-1 .detail_height {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "height_header "
        "height_content";
    grid-area: detail_height;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .height_header {
    justify-self: start;
    align-self: center;
    grid-area: height_header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .height_content {
    justify-self: start;
    align-self: center;
    grid-area: height_content;
    height: 100%;
}

.infobox_custom-1 .detail_weight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "weight_header "
        "weight_content";
    grid-area: detail_weight;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .weight_header {
    justify-self: start;
    align-self: center;
    grid-area: weight_header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .weight_content {
    justify-self: start;
    align-self: center;
    grid-area: weight_content;
    height: 100%;
}

.infobox_custom-1 .detail_vital-fluid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "vital-fluid_header "
        "vital-fluid_content";
    grid-area: detail_vital-fluid;
    width: 100%;
    height: 100%;
}

.infobox_custom-1 .vital-fluid_header {
    justify-self: start;
    align-self: center;
    grid-area: vital-fluid_header;
    height: 100%;

    font-weight: bold;
}

.infobox_custom-1 .vital-fluid_content {
    justify-self: start;
    align-self: center;
    grid-area: vital-fluid_content;
    height: 100%;
}

/*########################################################*/
.infobox_custom-1 .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    gap: 3% 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "stat_review  .            .           "
        "stats_graph  stats_graph  stats_graph "
        "stats_number stats_number stats_number";
    grid-area: stats;
}

/*//////////////////////////////////////*/

.infobox_custom-1 .stat_review {
    grid-area: stat_review;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "review_header"
        "review_underline";
    width: max-content;
    height: fit-content;
}

.infobox_custom-1 .review_header {
    grid-area: review_header;
    font-weight: bold;
}

.infobox_custom-1 .review_underline {
    grid-area: review_underline;
    font-weight: 100;
    color: rgb(59, 59, 59);
}

.infobox_custom-1 .stats_number {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1% 2%;
    grid-auto-flow: row;
    grid-template-areas:
        "hp_header atk_header def_header crit_header"
        "hp_number atk_number def_number crit_number";
    grid-area: stats_number;
}

.infobox_custom-1 .hp_header {
    grid-area: hp_header;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .atk_header {
    grid-area: atk_header;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .def_header {
    grid-area: def_header;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .crit_header {
    grid-area: crit_header;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .hp_number {
    grid-area: hp_number;
    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .atk_number {
    grid-area: atk_number;
    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .def_number {
    grid-area: def_number;
    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .crit_number {
    grid-area: crit_number;
    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .stats_graph {
    justify-self: center;
    align-self: center;
    grid-area: stats_graph;
    height: 200px;
    width: 216px;
}

/*----------------------------------------------------------------------------*/

.infobox_custom-1 .separation_line {
    grid-area: separation_line;
    width: 100%;
    height: 1px;

    background-color: #babfc0;
}

/*----------------------------------------------------------------------------*/

.infobox_custom-1 .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-auto-columns: 1fr;
    gap: 0% 5%;
    grid-auto-flow: row;
    justify-content: space-evenly;
    align-content: stretch;
    grid-template-areas:
        "rank_title   construct_title   weapon_title   exclusive-weapon_title   faction_title   gift_title  "
        "rank_content construct_content weapon_content exclusive-weapon_content faction_content gift_content";
    grid-area: bottom;

    width: auto;
    height: 100%;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    padding-top: 1em;
}

/*//////////////////////////////////////*/

.infobox_custom-1 .construct_title {
    grid-area: construct_title;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .weapon_title {
    grid-area: weapon_title;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .exclusive-weapon_title {
    grid-area: exclusive-weapon_title;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .faction_title {
    grid-area: faction_title;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .gift_title {
    grid-area: gift_title;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .rank_title {
    grid-area: rank_title;
    justify-self: center;
    align-self: center;

    font-weight: bold;
}

.infobox_custom-1 .construct_content {
    grid-area: construct_content;

    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .weapon_content {
    grid-area: weapon_content;

    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .exclusive-weapon_content {
    grid-area: exclusive-weapon_content;

    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .faction_content {
    grid-area: faction_content;

    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .gift_content {
    grid-area: gift_content;

    justify-self: center;
    align-self: center;
}

.infobox_custom-1 .rank_content {
    grid-area: rank_content;

    justify-self: center;
    align-self: center;
}